
tools/install_k8s_worker.sh
tools/install_kata.sh
data/

# useless data
*.log

# vim
*.swp
*.swn
*.swo
*.swm

# runtime data
*.pid

# dir
.idea/
venv/

# os
.DS_Store

# programming languages
*.pyc
*.o

README.md
README-org.md
